.playlist {
    display: none;
    position: absolute;
    width: 580px;
    height: 470px;
    right: 0;
    bottom: 0;
    background: rgb(45, 47, 51);
    box-shadow: 0px 0px 3px black;
    z-index: 11;    /* 大于 .detail 的 10 */
}

.playlist.show {
    display: block;
}

.playlist > .count {
    display: flex;
    align-items: center;
    height: 28px;
    padding-left: 30px;
    border-top: 1px solid rgb(49, 51, 55);
    border-bottom: 1px solid rgb(50, 52, 56);
    color: rgb(130, 131, 133);
    font-size: 13px;
}

.playlist > .history {
    display: none;
}

.song-cell {
    display: flex;
    align-items: center;
    height: 28px;
    padding-left: 30px;
    color: rgb(220, 221, 228);
    font-size: 13px;
    cursor: default;
}

.song-cell:nth-child(even) {
    background: rgb(48, 50, 54);
}
