.playlist > .title {
    display: flex;
    align-items: center;
    background: rgb(40, 42, 46);
    height: 41px;
}

.playlist > .title > .tabs {
    width: 212px;
    height: 24px;
    line-height: 24px;      /* 内容垂直居中 */
    margin: auto;
    text-align: center;
    border: 1px solid rgb(60, 62, 66);
    border-radius: 4px;
    color: rgb(104, 106, 110);
    font-size: 13px;
}

.playlist > .title > .tabs > div {
    display: inline-block;
    padding: 0 26px;
    cursor: pointer;
}

.playlist > .title > .tabs > div.active {
    color: rgb(220, 221, 228);
    background: rgb(58, 58, 63);
}

#id-img-close-list {
    padding: 10px;
    cursor: pointer;
}
